#contact_modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.close-modal {
	color: #901c1c;
	font-weight: lighter;
	border: none;
	font-size: 25px;
	background: none;
	position: relative;
	right: -1%;
	top: -24%;
}

/* .cardInfo {
	display: flex;
	justify-content: start;
	flex-direction: row-reverse;
	align-items: center;
}
.cardInfo span {
	margin: 0% 50% 0% 0%;
	color: #901c1c;
}
.cardInfo p {
	color: #901c1c;
} */
.divCard {
	/* background-color: lightblue; */
	width: 300px;
}
.cardInfo {
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.cardInfo p {
	order: 1;
	margin-right: auto;
	color: #901c1c;
}

.cardInfo span {
	order: 2;
	margin-right: 5px;
	color: #901c1c;
}

.cardInfo i {
	order: 3; /* Icône à droite */
}
.fa-solid,
.fa-heart {
	color: #901c1c;
}
#filter-container {
	display: flex;
	justify-content: flex-start;
	margin: 2% 0% 0% 2%;
}
#filter-container label {
	margin: 1% 2% 0% 5%;
}
#filter-container select {
	background-color: #901c1c;
	padding: 12px;
	color: white;
	border-radius: 5px;
}
/* #filter-container select.options-style {
	color: #901c1c !important;
	background-color: blue !important;
} */
.photograph-header {
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	text-align: center;
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 1240px;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px; */
}
.photograph-header img {
	width: 150px;
	border-radius: 50%;
}

.photograph-header article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.photographer_header-presentation article {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: relative;
	margin: 0% 0% 0% 2%;
}
.photographer_header-presentation article img {
	position: relative;
	height: 200px;
	width: 200px;
	margin: auto -165%;
}
.photographer_header-presentation h2 {
	margin: 0px;
}
.photographer_header-presentation p {
	margin: 0px;
}
.photographer_header-presentation button {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 13% 0% 0% 35%;
}
.photographer_header-presentation .divPresentation {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.photograph-header article h2 {
	color: #d3573c;
	font-size: 36px;
}
.media-container {
	display: grid;
	max-width: 1240px;
	grid-template-columns: repeat(3, 1fr);
	margin: 5% auto;
	column-gap: 150px;
}
.media-container img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.media-container video {
	width: 300px;
	height: 300px;
}
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	align-self: center;
	position: absolute;
	left: 8%;
	top: -15%;
}
.elementToLightbox {
	border-radius: 7px;
}
.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 5px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}
.modal-media {
	/* background-color: lightcoral; */
	display: none;
	z-index: 1;
	position: fixed;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	margin: auto;
	object-fit: contain;
	width: 700px;
	height: 700px;
}
.divTotalLikes {
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: fixed;
	bottom: 0px;
	right: 20px;
	background-color: #db8876;
	padding: 10px;
	border-radius: 5px;
	color: black;
	i {
		color: black;
		margin-right: 90px;
		margin-left: 4px;
	}
}
.modal-media img {
	/* background-color: #901c1c; */
	margin: 0% 0% -30% 5%;
	border-radius: 5px;
	object-fit: cover;
	width: 400px;
	height: 400px;
}
.modal-media video {
	/* background-color: #901c1c; */
	margin: 0% 0% -30% 5%;
	width: 400px;
	height: 400px;
}
.prevButton,
.nextButton {
	font-size: 30px;
	color: #901c1c;
	border: none;
	background: none;
	margin: 0px -30px 0px -25px;
}
