#contact_modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0px 50% 0 50%;
	transform: translate(-25%, -50%) scale(0.8);
}
textarea {
	height: 180px;
	width: 100%;
}
.close-modal {
	color: #901c1c;
	font-weight: lighter;
	border: none;
	font-size: 25px;
	background: none;
	position: relative;
	right: -4%;
	top: -1%;
}

.divCard {
	/* background-color: lightblue; */
	width: 300px;
}
.cardInfo {
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.cardInfo p {
	order: 1;
	margin-right: auto;
	color: #901c1c;
}

.cardInfo span {
	order: 2;
	margin-right: 5px;
	color: #901c1c;
}

.cardInfo i {
	order: 3;
}
.fa-solid,
.fa-heart {
	color: #901c1c;
}
.fa-heart:hover {
	transform: scale(1.3);
	cursor: pointer;
}
.filter {
	display: flex;
	margin-top: 15px;
	margin-left: 5%;
}
.filter_title {
	display: flex;
	/* align-items: center; */
	margin: 2% 2% 2% 2%;
}
#filter-container {
	display: flex;
	justify-content: flex-start;
	margin: 2% 0% 0% 2%;
}
#filter-container label {
	margin: 1% 2% 0% 5%;
}
#filter-container select {
	background-color: #901c1c;
	padding: 12px;
	color: white;
	border-radius: 5px;
}
#filter-container select option::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 55%;
	transform: translateX(-50%);
	width: 91%;
	height: 1px;
	background: white;
}
.photograph-header {
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	text-align: center;
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 1240px;
}
.photograph-header img {
	width: 150px;
	border-radius: 50%;
}

.photograph-header article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.photographer_header-presentation article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	position: relative;
	margin-left: 3%;
}
.photographer_header-presentation article h2 {
	/* background-color: red; */
	margin: -60% -30% 0% -30%;
	font-size: 38px;
}

.photographer_header-presentation article img {
	position: relative;
	height: 180px;
	width: 180px;
	right: -58rem;
}
.photographer_header-presentation article .divArticle:focus {
	display: none;
}

.divArticle:focus {
	outline: solid 2px #901c1c;
	border-radius: 5px;
	padding: 8%;
}
.photographer_header-presentation h2 {
	margin: 0px;
}
.photographer_header-presentation p {
	margin: 0px;
}
.photograph-header span {
	display: none;
}
.photographer_header-presentation button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 13% 0% 0% 38%;
}
.photographer_header-presentation .divPresentation {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.photograph-header article h2 {
	color: #d3573c;
	/* font-size: 36px; */
}
.media-container {
	display: grid;
	max-width: 1240px;
	grid-template-columns: repeat(3, 1fr);
	margin: 5% auto;
	column-gap: 150px;
}
.media-container img {
	width: 300px;
	height: 300px;
	transition: transform 0.2s ease-in-out;
	object-fit: cover;
}
.media-container img:hover {
	transform: scale(1.05);
}
.media-container video {
	width: 300px;
	height: 300px;
	margin: auto;
	object-position: top;
	object-fit: cover;
}
.media-container video:hover {
	transform: scale(1.1);
}
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	align-self: start;
	left: 8%;
	top: -15%;
}
.contact_button:focus {
	outline: solid 4px #8fc982;
}

.contact_button:hover {
	color: black;
	background-color: #db8876;
}
.elementToLightbox {
	border-radius: 7px;
}
.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 35px 10px 35px;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 40px;
	font-weight: normal;
	margin-top: -10px;
}
#form_contact-name {
	/* background-color: red; */
	display: flex;
	text-align: start;
	flex-direction: column;
}
#form_contact-name span {
	font-size: 40px;
	font-weight: normal;
	margin-top: -45px;
}
form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 5px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}
#message {
	border-radius: 5px;
}
.modal-media {
	/* background-color: lightcoral; */
	display: none;
	z-index: 1;
	position: fixed;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	margin: auto;
	object-fit: contain;
	width: 120%;
	height: 100%;
}
.close-modal-image:focus {
	outline: 2px solid #901c1c;
	border-radius: 5px;
	padding: 5px;
}
.divTotalLikes {
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: fixed;
	bottom: 0px;
	right: 20px;
	background-color: #db8876;
	padding: 10px;
	border-radius: 5px;
	color: black;
}
.divTotalLikes i {
	color: black;
	margin-right: 90px;
	margin-left: 4px;
}
.modal-media img {
	/* background-color: #901c1c; */
	margin: 0% -3% -30% 5%;
	border-radius: 5px;
	object-fit: cover;
	width: 70%;
	height: 80%;
}
.modal-media video {
	/* background-color: #901c1c; */
	margin: 0% -3% -30% 5%;
	width: 70%;
	height: 80%;
}
.prevButton,
.nextButton {
	font-size: 30px;
	color: #901c1c;
	position: fixed;
	border: none;
	background: none;
	/* margin: 10px -65px 0px -25px; */
	margin: 15% 0% 15% 2%;
}

/*  DROPDOWN */
.dropdown {
	position: relative;
	height: 100%;
}
.dropdown_content {
	display: none;
	flex-direction: column;
	list-style-type: none;
	transition: max-height 0.1s ease-in-out;
	margin: 0px 0px 0px -40px;
}
.dropdown_content li {
	position: relative;
	width: 150px;
	z-index: 1;
}
.dropdown_content li::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 55%;
	transform: translateX(-50%);
	width: 91%;
	height: 1px;
	background: white;
}
.btn_list,
.dropdown_content li button {
	border: 0;
	background: #901c1c;
	font-size: 18px;
	font-weight: 700;
	padding-left: 20px;
	color: #fff;
	height: 69px;
	width: 170px;
	text-align: left;
	padding-right: 20px;
}
.btn_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
}
.btn_list:focus {
	outline: solid 4px #8fc982;
}

.dropdown_content.show-options {
	display: flex;
	margin-top: -3px;
}
.fas.fa-chevron-up {
	display: none;
}
